 /* Define el alto de la sección media */
 .inicio_backgroundImage{
    background-image: url(../Imagenes/tablasnavegando.jpg);
}
.servicio_backgroundImage{
    background-image: url(../Imagenes/Esquiadorenlamontana.jpg);
}
.sobrenosotros_backgroundImage{
    background-image: url(../Imagenes/kiterenmar.jpg);
}
.beneficios_backgroundImage{
    background-image: url(../Imagenes/hickerenmontanahorizontal.jpg);
}
.contactanos_backgroundImage{
    background-image: url(../Imagenes/rapelconmontana.jpg);
}
.iniciarsesion_backgroundImage{
    background-image: url(../Imagenes/kayakenmar.jpg);
}
.donaciones_backgroundImage{
    background-image: url(../Imagenes/hickerdonacionesenlamontana.png);
}
