/*Define el formato de la seccion prinicipal*/
/* Define el formato del texto BIENVENIDOS*/
.titulo{
    font-family: $font_texto_inicio;
    font-size: 17vw;
    margin-left: -4vw;
    color: $color_beepsafe;
    overflow: hidden;
}
    /* Define el tipo, color, tamaño, alineamiento y posición del texto*/
    .p_texto{
        font-size: 20px;
        font-family: Jura;
        text-align: justify;
    }
    .p_texto_inicio{
        color: black;
        font-weight: bold;
        background-color: $color_fondo_letras;
        width: 50vw;
        margin-top: 40vh;
        margin-left: 5vh;
    }
    .p_texto_servicio{
        color: black;
        font-weight: bold;
        background-color: $color_fondo_letras;
        width: 40vw;
        margin-left: 5vw;
        margin-top: 25vh;
    }
    .p_texto_sobrenosotros{
        color: black;
        font-weight: bold;
        background-color: $color_fondo_letras;
        width: 30%;
        margin-top: 28%;
    }
    .p_texto_beneficios1, .p_texto_beneficios2{
        color: white;
        background-color: $color_fondo_letras;
        width: 60%;
        margin-top: 5%;
        margin-left: 5%;
    }
    .p_texto_donaciones{
        font-family: $font_general;
        font-size: 20px;
        color: black;
        font-weight: bold;
        background-color: $color_fondo_letras;
        @include size(394px, 500px);
        margin-left: 40px;
        margin-top: 16%;
    }