/*Define la imagen de fondo para cada página*/
.inicio_backgroundImage{
    background-image: url(../Imagenes/tablasnavegandocelvert.jpg);
}
.servicio_backgroundImage{
    background-image: url(../Imagenes/Esquiadorenlamontanacelvertical.jpg);
}
.sobrenosotros_backgroundImage{
    background-image: url(../Imagenes/kiterenmarcelvertical.jpg);
}
.beneficios_backgroundImage{
    background-image: url(../Imagenes/hickerenmontanacelvertical.jpg);
}
.contactanos_backgroundImage{
    background-image: url(../Imagenes/rapelconmontanacelvertical.jpg);
}
.iniciarsesion_backgroundImage{
    background-image: url(../Imagenes/kayakenmarcelvertical.jpg);
}
.donaciones_backgroundImage{
    background-image: url(../Imagenes/bordelagocelvertical.jpg);
}