/* Define el formato, tamaño y posición del cuadro del formulario de la pagina iniciar sesión*/
.forminiciarsesion{
    background-color: white;
    border-radius: 24px;
    border: none;
    @include size(95%, 320px);
    margin-left: 2%;
    margin-top:10%;
}
/* Define el formato del boton de registrarse para los que no tienen cuenta*/
.notenescuenta{
    font-family: $font_general;
    background-color: white;
    opacity: 60%;
    margin-left: 23%;
    margin-top:2%;
    border: none;
    border-radius: 15px;
    width: 200px;
    text-align: center;
    padding: 10px;
    }